<mat-sidenav-container>
  <mat-sidenav-content class="sidenav-container">
    <mat-toolbar color="primary" class="sidenav-toolbar">
      <button type="button" mat-icon-button
              *ngIf="parent && !loading"
              routerLink="dir"
              [queryParams]="{id:parent}">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button type="button" mat-icon-button
              *ngIf="loading"
              (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="title">{{id}}</span>
      <button type="button" mat-icon-button>
        <mat-icon>sort</mat-icon>
      </button>
      <button type="button" mat-icon-button
              (click)="updateContent(true)">
        <mat-icon>sync</mat-icon>
      </button>
      <button type="button" mat-icon-button
              routerLink="">
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="sidenav-content">
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <app-masonry [nodes]="nodes" *ngIf="!loading"></app-masonry>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-container #popupContainer></ng-container>
